.qty-input {
    color: #000;
    background: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 20px;
}
.qty-input .product-qty, .qty-input .qty-count {
    background: transparent;
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    border: none;
    display: inline-block;
    min-width: 0;
    height: 2.5rem;
    line-height: 1;
}
.qty-input .product-qty:focus, .qty-input .qty-count:focus {
    outline: none;
}
.qty-input .product-qty {
    width: 130px;
    min-width: 0;
    display: inline-block;
    text-align: center;
    appearance: textfield;
}
.qty-input .product-qty::-webkit-outer-spin-button, .qty-input .product-qty::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.qty-input .qty-count {
    padding: 0;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.25em;
    text-indent: -100px;
    overflow: hidden;
    position: relative;
}
.qty-input .qty-count:before, .qty-input .qty-count:after {
    content: "";
    height: 2px;
    width: 10px;
    position: absolute;
    display: block;
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.qty-input .qty-count--minus {
    border-right: 1px solid #e2e2e2;
}
.qty-input .qty-count--add {
    border-left: 1px solid #e2e2e2;
}
.qty-input .qty-count--add:after {
    transform: rotate(90deg);
}
.qty-input .qty-count:disabled {
    color: #ccc;
    background: #f2f2f2;
    cursor: not-allowed;
    border-color: transparent;
}
.qty-input .qty-count:disabled:before, .qty-input .qty-count:disabled:after {
    background: #ccc;
}
/*body {*/
/*    background: #3b70fc;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    font-size: 1rem;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*}*/
.qty-input {
    border-radius: 4px;
}
